.navbar a{
    text-decoration: none;
    color: white;
}

#slider {
    margin-top:8em;
    margin-bottom:1em;
}

#slider .carousel-caption{
    bottom: 3em;
}

#slider .carousel-caption h5{
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
}

.btn {
    border-radius: 5px;
}

#slider .btn {
    padding: 0.3 .8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i{
    color: #111;
    font-size: 3em;
}

.carousel-indicators [data-bs-target] {
    background-color: #222;
    opacity: 0.8;
}

.carousel-indicators .active {
    background-color: #000;
}

.txtitulo{
    margin: 2rem;
    color: #222222;
}

.card{
    margin-top: 10px;
}

.card img:hover{

}